body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #FFF;
    background-image: url("/media/bg.jpg");
    color: #296ec2;
}
h2 {
}
ul {
    list-style-type: none;
    margin-right: 40px;
}
li {
    background-color: #FFF;
    opacity: 0.5;
    color: #000;
}
.contentAuthor {
    color: #666;
    font-size: 12px;
}
.content {
}