body {
    font-family: Verdana, Helvetica, sans-serif;
    background: #FFF url("/media/bg.jpg");
    background-attachment: fixed;
    color: #296ec2;
}
h2 {
}
ul {
    list-style-type: none;
    margin-right: 40px;
}
li {
    background-color: rgba(255,255,255,0.4);
    color: rgba(0,50,50,0.8);
}
.contentAuthor {
    color: #666;
    font-size: 12px;
}
.content {
}