<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}diary{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/media/main.css" />
  </head>


  <body>
  {% if user.is_authenticated %}
      Hello
    {{ user.username }}
    [<a href="{% url gaeauth.views.logout %}">sign out</a>]
      <br/>
      {% if aniv %}
          It has been
            <script language="JavaScript">
            BackColor = "transparent";
            CountActive = true;
            CountStepper = 1;
            LeadingZero = true;
            DisplayFormat = "%%D%% Day, %%H%% Hour, %%M%% Minute, %%S%% Second ";
            </script>
          <span id="kiss" style="background-color:transparent;"><b>90</b> Day, <b>04</b> Hour, <b>03</b> Minute, <b>22</b> Second </span>
          since our first kiss.
          <br/>
          It has been

          <span id="merry" style="background-color:transparent;"><b>90</b> Day, <b>04</b> Hour, <b>03</b> Minute, <b>22</b> Second </span>
          <script language="JavaScript" src="/media/countdown.js"></script>
          since we were announce husband and wife.
      {% endif %}
    {% block content %}{% endblock %}
  {% else %}
    [<a href="{% url gaeauth.views.login %}">sign in</a>]
  {% endif %}


  </body>
</html>
