<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}diary{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/media/main.css" />
  </head>


  {% if user.is_authenticated %}
      Hello
    {{ user.username }}
    [<a href="{% url gaeauth.views.logout %}">sign out</a>]
  {% else %}
    [<a href="{% url gaeauth.views.login %}">sign in</a>]
  {% endif %}

  {% block content %}{% endblock %}

  <body>
  </body>
</html>
